<!-- Component of lateral navigation or superior depending on the size of the screen, 
for portable or mobile, where is the Cart with the products and notes, and the account of user. -->

<nav class="nav flex-xs-row flex-lg-column mt-4">
  <h4>
    <a class="nav-link" routerLink="/cart" routerLinkActive="text-secondary bg-primary text-right">Cesta</a>
  </h4>
  <h4>
    <a class="nav-link" routerLink="/my-account" routerLinkActive="text-secondary bg-primary text-right">Mi Cuenta</a>
  </h4>
</nav>
