<form class="p-5" [formGroup]="updateProfileForm" [snMarkAsTouched]="updateProfileForm" (ngSubmit)="updateProfile()">
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" type="text" formControlName="fullName" placeholder="Enter your family name" />
    </div>

    <div formGroupName="preferences">
        <div class="form-group">
            <label>Lista de la compra habitual</label>
            <textarea class="form-control" type="text" rows="6" formControlName="regularlist"
                placeholder="TODAVIA NO DISPONIBLE!!!"></textarea>
            <sn-validation-messages [control]="updateProfileForm.get('preferences.regularlist')">
            </sn-validation-messages>
        </div>

        <div class="form-group">
            <label>Cambio de Password</label>
            <input class="form-control" type="text" formControlName="password" placeholder="TODAVIA NO DISPONIBLE!!!" />
            <sn-validation-messages [control]="updateProfileForm.get('preferences.password')"></sn-validation-messages>
        </div>

        <div class="form-group">
            <label>Nueva password</label>
            <input class="form-control" type="text" formControlName="newpassword" placeholder="TODAVIA NO DISPONIBLE!!!" />
            <sn-validation-messages [control]="updateProfileForm.get('preferences.newpassword')"></sn-validation-messages>
        </div>

        <div class="form-group">
            <label>Repite nueva password</label>
            <input class="form-control" type="text" formControlName="repeatnewpass" placeholder="TODAVIA NO DISPONIBLE!!!" />
            <sn-validation-messages [control]="updateProfileForm.get('preferences.repeatnewpass')"></sn-validation-messages>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>