<section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
            <div class="d-flex align-items-center content-height">
                <div class="row flex-center pt-3 mt-3">
                    <div class="col-md-6 text-center text-md-left">
                        <div class="white-text">
                            <sn-welcome-hero [rows]="heroItems"></sn-welcome-hero>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <sn-welcome-forms></sn-welcome-forms>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>