<section class="view intro-2">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>

    <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
            <div class="d-flex align-items-center content-height">
                <div class="row flex-center pt-3 mt-3">
                    <div class="col-md-6 text-center text-md-left">
                        <div class="white-text">
                            <sn-welcome-hero [rows]="heroItems"></sn-welcome-hero>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <sn-welcome-forms></sn-welcome-forms>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mdb-carousel>
</section>