<!-- Component that serves to not leave any field blank or with erroneous data in the forms, 
  where there will be a blinking warning of the error. -->

<ng-container *ngIf="control.dirty || control.touched">
  <div class="invalid-feedback" *ngIf="control.hasError('required')">
    <i class="fa fa-exclamation-triangle"></i> Este campo es obligatorio !!!
  </div>

  <div class="invalid-feedback" *ngIf="control.hasError('malformedMail')">
    <i class="fa fa-exclamation-triangle"></i> El Email no es valido !!!
  </div>

  <div class="invalid-feedback" *ngIf="control.hasError('missingArroba')">
    <i class="fa fa-exclamation-triangle"></i> Te falta la "@" !!!
  </div>

  <div class="invalid-feedback" *ngIf="control.hasError('minlength')">
    <i class="fa fa-exclamation-triangle"></i> La longitud es inválida !!!
  </div>
</ng-container>

<ng-container *ngIf="group?.dirty || group?.touched">
  <div class="invalid-feedback" *ngIf="control.valid && group?.hasError('passwordMismatch')">
    <i class="fa fa-exclamation-triangle"></i> La contraseña y la confirmación deben coincidir !!!
  </div>
</ng-container>
