@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

$headings-font-family: Chelsea Market;
$primary: #1e6d1e;
$secondary: #ffffff;
$success: #3e4d59;
$danger: #cc330d;
$info: #5c8f94;
$test: #000000;
$warning: #6e9fa5;
$light: #1e6d1e09;
$dark: #1e2b37;
$link-color: rgb(0, 77, 0);
$enable-gradients: true;
$spacer: 1rem;
$border-width: 3px;
$btn-border-radius: 1.25rem;
$enable-responsive-font-sizes: true;

@import '~node_modules/bootstrap/scss/bootstrap.scss';

.ng-touched.ng-invalid {
    @extend .is-invalid;
  }
  
  .ng-touched.ng-valid {
    @extend .is-valid;
  }
  
  .is-invalid,
  .is-valid {
    .invalid-feedback {
      display: block;
      color: yellow;
      font-size: 14px;
      font-weight: bold;
  
      /* Flashing error messages animation module. */

        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      
        -webkit-animation-name:parpadeo;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      
      @-moz-keyframes parpadeo{  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @-webkit-keyframes parpadeo {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @keyframes parpadeo {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
    }
  }

  a {
    cursor: pointer !important;
  }

  body {
    color: white;
  }

  .form-control {
  background-color: rgba(255, 255, 255, 0.534);
  }

  .intro-header {
    height: unset;
  }
  .intro-2 {
    background: url("./images/Naturaleza.jpg");

  }
  .view {
    height: 100%;
  }

  .card {
    background-color: rgba(17, 121, 31, 0.2);
    color: black;
  }

  .card-body {
    padding: 5px 20px 5px 20px;
  }

  .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .md-form label {
    color: #ffffff;
  }

  h1, h2, h6 {
    line-height: 1.7;
    font-weight: 600;
  }

