<div class="container">
    <div class="row pt-2">
        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="beer">
                <label class="custom-control-label" for="beer">Beer</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="galletas">
                <label class="custom-control-label" for="galletas">Biscuits</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="cereals">
                <label class="custom-control-label" for="cereals">Cereals</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="chips">
                <label class="custom-control-label" for="chips">Chips</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="fruit">
                <label class="custom-control-label" for="fruit">Fruit</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="milk">
                <label class="custom-control-label" for="milk">Milk</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="potatoes">
                <label class="custom-control-label" for="potatoes">Potatoes</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="tomatobrick">
                <label class="custom-control-label" for="tomatobrick">TomatoBrick</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="water">
                <label class="custom-control-label" for="water">Water</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="yogourt">
                <label class="custom-control-label" for="yogourt">Yogourt</label>
            </div>
            <hr/>
        </div>
    
        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="butter">
                <label class="custom-control-label" for="butter">Butter</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="coldcuts">
                <label class="custom-control-label" for="coldcuts">ColdCuts</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="eggs">
                <label class="custom-control-label" for="eggs">Eggs</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="eggplant">
                <label class="custom-control-label" for="eggplant">Eggplant</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="macaroni">
                <label class="custom-control-label" for="macaroni">Macaroni</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="mushrooms">
                <label class="custom-control-label" for="mushrooms">Mushrooms</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="olives">
                <label class="custom-control-label" for="olives">Olives</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="sausages">
                <label class="custom-control-label" for="sausages">Sausages</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="spaghetti">
                <label class="custom-control-label" for="spaghetti">Spaghetti</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="squash">
                <label class="custom-control-label" for="squash">Squash</label>
            </div>
            <hr/>
        </div>

        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="apples">
                <label class="custom-control-label" for="apples">Apples</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="celery">
                <label class="custom-control-label" for="celery">Celery</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="cleaningsupplies">
                <label class="custom-control-label" for="cleaningsupplies">CleaningSupplies</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="melon">
                <label class="custom-control-label" for="melon">Melon</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="onions">
                <label class="custom-control-label" for="onions">Onions</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="parchmentpaper">
                <label class="custom-control-label" for="parchmentpaper">ParchmentPaper</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="pears">
                <label class="custom-control-label" for="pears">Pears</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="pizza">
                <label class="custom-control-label" for="pizza">Pizza</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="strawberries">
                <label class="custom-control-label" for="strawberries">Strawberries</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="zucchini">
                <label class="custom-control-label" for="zucchini">Zucchini</label>
            </div>
            <hr/>
        </div>

        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="bananas">
                <label class="custom-control-label" for="bananas">Bananas</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="bottledwater">
                <label class="custom-control-label" for="bottledwater">BottledWater</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="cherry">
                <label class="custom-control-label" for="cherry">Cherry</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="coffee">
                <label class="custom-control-label" for="coffee">Coffee</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="deodorant">
                <label class="custom-control-label" for="deodorant">Deodorant</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="glasscleaner">
                <label class="custom-control-label" for="glasscleaner">GlassCleaner</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="orangejuice">
                <label class="custom-control-label" for="orangejuice">OrangeJuice</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="redwine">
                <label class="custom-control-label" for="redwine">RedWine</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="toiletpaper">
                <label class="custom-control-label" for="toiletpaper">ToiletPaper</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" idproducts="watermelon">
                <label class="custom-control-label" for="watermelon">Watermelon</label>
            </div>
            <hr/>
        </div>

    </div>
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control rounded-0" idproducts="notes" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
