.custom-control {
    color: #1e6d1e;
    height: 1rem;
    padding: 1rem 2.5rem;
}

.form-group {
    color: #1e6d1e;
    padding: 1rem;
    margin: 0 0 -1rem;
    font-size: 1.5rem;
}

.btn {
    margin: 10px 15px;
}

.row {
    width: 100%;
}