<div class="container">
    <div class="row pt-2">
        <div class="col-xl-3 col-6">
            <div class="form-check" *ngFor="let tag of tags">
                <label class="form-check-label" for="tag{{tag.name}}">
                    <input class="form-check-input" type="checkbox" id="tag{{tag.name}}" [name]="tag.name"
                        [checked]="tag.checked">
                    {{tag.name}}
                </label>
            </div>
            <hr />
        </div>

        <div class="col-xl-3 col-6">
            <div class="form-check" *ngFor="let tag of tags1">
                <label class="form-check-label" for="tag{{tag.name}}">
                    <input class="form-check-input" type="checkbox" id="tag{{tag.name}}" [name]="tag.name"
                        [checked]="tag.checked">
                    {{tag.name}}
                </label>
            </div>
            <hr />
        </div>

        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="apples">
                <label class="custom-control-label" for="apples">Apples</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="celery">
                <label class="custom-control-label" for="celery">Celery</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cleaningsupplies">
                <label class="custom-control-label" for="cleaningsupplies">CleaningSupplies</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="melon">
                <label class="custom-control-label" for="melon">Melon</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="onions">
                <label class="custom-control-label" for="onions">Onions</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="parchmentpaper">
                <label class="custom-control-label" for="parchmentpaper">ParchmentPaper</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="pears">
                <label class="custom-control-label" for="pears">Pears</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="pizza">
                <label class="custom-control-label" for="pizza">Pizza</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="strawberries">
                <label class="custom-control-label" for="strawberries">Strawberries</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="zucchini">
                <label class="custom-control-label" for="zucchini">Zucchini</label>
            </div>
            <hr />
        </div>

        <div class="col-xl-3 col-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="bananas">
                <label class="custom-control-label" for="bananas">Bananas</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="bottledwater">
                <label class="custom-control-label" for="bottledwater">BottledWater</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cherry">
                <label class="custom-control-label" for="cherry">Cherry</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="coffee">
                <label class="custom-control-label" for="coffee">Coffee</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="deodorant">
                <label class="custom-control-label" for="deodorant">Deodorant</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="glasscleaner">
                <label class="custom-control-label" for="glasscleaner">GlassCleaner</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="orangejuice">
                <label class="custom-control-label" for="orangejuice">OrangeJuice</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="redwine">
                <label class="custom-control-label" for="redwine">RedWine</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toiletpaper">
                <label class="custom-control-label" for="toiletpaper">ToiletPaper</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="watermelon">
                <label class="custom-control-label" for="watermelon">Watermelon</label>
            </div>
            <hr />
        </div>

    </div>
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control rounded-0" id="notes" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</div>