<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="leche">
    <label class="custom-control-label" for="leche">Leche</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="zumo">
    <label class="custom-control-label" for="zumo">Zumo</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="galletas">
    <label class="custom-control-label" for="galletas">Galletas</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="cereales">
    <label class="custom-control-label" for="cereales">Cereales</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="yogur">
    <label class="custom-control-label" for="yogur">Yogur</label>
</div>
<div class="form-group">
    <label for="comments">Comments</label>
    <textarea class="form-control rounded-0" id="comments" rows="10"></textarea>
</div>
